body { background: #000000; }

/* To stop elements from staying next to each other. */
.clear { clear: both; }

/* The flag might grow if state changes to hover/active. */
.malta_flag,
.english_flag
{
  width: 6%;
  cursor: pointer;
}

.user
{
  /* Changing the size of the flags. */
  width: 4.9%;
  /* The standard pointing cursor. */
  cursor: pointer;
}

.wishlist, .cart
{
  width: 4.9%;
  cursor: pointer;
}

/* All image elements in div menu have been assigned
with margin-left property at a value of 15px.*/
.menu img { padding: 20px; background: black; }

/* Social media links and payment options
should be of the same size. */
.facebook, .twitter, .instagram
{
  width: 3%;
  margin-left: 15px;
}

.col-sm h5
{
    font-weight: lighter;
    color: #ffffff;
}

/* Hide the bullets. */
.col-sm ul li { list-style-type: none; }

/* Leave vertical spacing between each link in the columns. */
.col-sm ul li a:link { vertical-align: 5px; }

.bov { width: 3%; }
.visa { width: 5%; }
.mastercard { width: 6%; }
.paypal { width: 7%; }

.customer_care { padding: 15px; }
.customer_care #options
{
    background: #ffffff;
    color: #00000;
    padding: 10px;
    border: 2px solid #000000;
    margin-bottom: 10px;
}

.customer_care #options h4
{
    font-weight: 400;
    margin-bottom: 20px;
}

.customer_care #options img { margin-bottom: 10px; }

.about_shopjet img { margin-bottom: 15px; }
.about_shopjet .row { margin-bottom: 25px; }
.about_shopjet .male { width: 40%; }

.form-group input, textarea { width: 30%; }
.form-group textarea { height: 125px; resize: both; }

@media screen and (min-width: 0px)
{
    .banner
    {
        width: 100%;
    }
}
