body { background: #000000; }

/* To stop elements from staying next to each other. */
.clear { clear: both; }

/* The flag might grow if state changes to hover/active. */
.malta_flag,
.english_flag
{
  width: 7.5%;
  cursor: pointer;
}

.user
{
  /* Changing the size of the flags. */
  width: 6%;
  /* The standard pointing cursor. */
  cursor: pointer;
}

.wishlist, .cart
{
  width: 6%;
  cursor: pointer;
}

/* All image elements in div menu have been assigned
with margin-left property at a value of 15px.*/
.menu img { padding: 20px; background: black; }

/* Social media links and payment options
should be of the same size. */
.facebook, .twitter, .instagram
{
  width: 3%;
  margin-left: 15px;
}

.col-sm h5
{
    font-weight: lighter;
    color: #ffffff;
}

/* Hide the bullets. */
.col-sm ul li { list-style-type: none; }

/* Leave vertical spacing between each link in the columns. */
.col-sm ul li a:link { vertical-align: 5px; }

.bov { width: 3%; }
.visa { width: 5%; }
.mastercard { width: 6%; }
.paypal { width: 7%; }
