/* To stop elements from staying next to each other. */
.clear { clear: both; }

/* The flag might grow if state changes to hover/active. */
.malta_flag,
.english_flag,
.user
{
  /* Changing the size of the flags. */
  width: 5%;
}

.wishlist, .cart { width: 3.75%; }

/* All image elements in div menu have been assigned
with margin-left property at a value of 15px.*/
.menu img { margin-left: 15px; }

/* Social media links and payment options
should be of the same size. */
.facebook, .twitter, .instagram
{
  width: 3%;
  margin-left: 15px;
}

.bov { width: 3%; }
.visa { width: 5%; }
.mastercard { width: 6%; }
.paypal { width: 7%; }
